<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Lab04</display-name>
  
 	<welcome-file-list>
		<welcome-file>lab04.jsp</welcome-file>	
	</welcome-file-list>
	
	<context-param>
    	<param-name>applicationPageTitle</param-name>
    	<param-value>COMP 3641 Lab04 - Beatles Database</param-value>
  	</context-param>

	<servlet>
		<servlet-name>Lab04</servlet-name>
		<jsp-file>/Lab04.jsp</jsp-file>
		<init-param>
    		<param-name>url</param-name>
    		<param-value>jdbc:sqlserver://Beangrinder.bcit.ca</param-value>
    	</init-param>
    	<init-param>
    		<param-name>driver</param-name>
    		<param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
    	</init-param>
    	<init-param>
    		<param-name>dbname</param-name>
    		<param-value>jspweb</param-value>
    	</init-param>
    	<init-param>
    		<param-name>username</param-name>
    		<param-value>javastudent</param-value>
    	</init-param>
    	<init-param>
    		<param-name>password</param-name>
    		<param-value>compjava</param-value>
    	</init-param>
    	<init-param>
      		<param-name>linkText</param-name>
      		<param-value>Search Again</param-value>
    	</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>errorPage</servlet-name>
		<jsp-file>/errorPage.jsp</jsp-file>
		<init-param>
      		<param-name>errorMessage</param-name>
      		<param-value>Your query was not successful</param-value>
    	</init-param>
    	<init-param>
      		<param-name>errorQueryMessage</param-name>
      		<param-value>The query your entered was:</param-value>
    	</init-param>
    	<init-param>
      		<param-name>errorSummaryMessage</param-name>
      		<param-value>The error summary is:</param-value>
    	</init-param>
    	<init-param>
      		<param-name>errorDetailMessage</param-name>
      		<param-value>The error details are as follows:</param-value>
    	</init-param>
    	<init-param>
      		<param-name>linkText</param-name>
      		<param-value>Try Your Search Again</param-value>
    	</init-param>
    </servlet>

  	<servlet-mapping>
  		<servlet-name>Lab04</servlet-name>
  		<url-pattern>/Lab04.jsp</url-pattern>
  	</servlet-mapping>
  	
  	<servlet-mapping>
  		<servlet-name>errorPage</servlet-name>
  		<url-pattern>/errorPage.jsp</url-pattern>
  	</servlet-mapping>
  	
  	<error-page>
  		<exception-type>java.lang.Throwable</exception-type>
  		<location>/errorPage.jsp</location>
  	</error-page>
  	<error-page>
  		<exception-type>javax.servlet.SQLException</exception-type>
  		<location>/errorPage.jsp</location>
  	</error-page>
  	
  	
  	
</web-app>